.container{
    padding: 2rem;

    .videos{
        background-color: #f9f9f9;

        width: calc(100vw - 24rem);
        height: 100%;

        padding: 2rem;
        padding-bottom: 10rem;

        overflow: scroll !important;

        position: fixed;
        top: 5.6rem + 5.6rem + 0.25rem;
        left: 24rem;

        @include flex-row;

        flex: 1 1 1; 

        flex-wrap: wrap;

        .video{
            @include video;

            margin-bottom: 4rem;
            margin-left: 0.25rem;
        }
    }
}

// Responsiveness 

@media screen and (max-width: 1212px){
    .videos{
        left: 7.2rem !important;

        width: calc(100vw - 7.2rem) !important;

        @include content-center;

        .video{
            width: auto !important;
            height: auto !important;
        }
    }
}