.sidebar{
    font-family: 'Roboto', sans-serif;

    height: calc(100vh - 5.6rem);   // Total viewport height - Navbar's height
    width: 24rem;

    overflow: scroll;

    position: fixed;
    top: 5.75rem;    // Height of the navbar + 0.15rem
    left: 0;

    .suite{
        padding: 1rem 0;

        border-bottom: 1px solid #e5e5e5;

        @include flex-col;

        .tab{
            cursor: pointer;

            @include content-vertical-center;

            padding: 0.75rem 2rem;

            svg{
                pointer-events: none;

                display: block;

                @include svg;
            }

            span{
                font-size: 1.4rem;
                margin-left: 2rem;
            }

            &:hover{
                background-color: darken(#fff, 5%);
            }
        }

        .active{
            background-color: #e5e5e5;
            
            span{
                font-weight: 500;
            }

            &:hover{
                background-color: darken(#fff, 15%) !important;
            }
        }

        h3{
            color: #606060;
            font-weight: 500;
            font-size: 1.4rem;

            padding: 0.8rem 2.4rem;
            
            text-transform: uppercase;
        }
    }

    .subscriptions{
        img{
            border-radius: 50%;

            height: 2.4rem;
            width: 2.4rem;
        }
    }

    .footer{
        padding: 1rem 2rem;

        .lower{
            margin-top: 1rem;
        }

        a{
            color: #606060;
            font-weight: 500;
            font-size: 1.3rem;
            margin-right: 0.8rem;
        }

        .copyright{
            margin-top: 1rem;

            span{
                color: #909090;
                font-size: 1.2rem;
                font-weight: 400;

                line-height: 1.8;
            }
        }
    }

    &::-webkit-scrollbar{
        display: none;
    }

    &:hover{
        &::-webkit-scrollbar{
            display: block;
        }
    }
}

// Responsiveness
.sidebar-close{
    width: 7.2rem;

    .subscriptions,
    .footer,
    .actions,
    .more{
        display: none;
    }

    .suite:first-of-type{
        border: none;

        margin: 0;
        padding-bottom: 0;
    }
    .suite:nth-of-type(2){
        border: none;
        
        padding: 0;

        .tab:not(:first-of-type){
            display: none;
        }
    }
    .suite{
        .tab{
            @include flex-col;

            padding: 2rem 0;

            span{
                margin-right: 1.55rem;

                font-size: 1.1rem;
            }
        }
    }
}