.topics{
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;    

    padding: 0 2rem;

    height: 5.6rem;

    user-select: none;

    position: fixed;
    top: 5.85rem;    // Height of navbar + 0.25rem
    left: 24rem;    // Width of sidebar

    @include content-vertical-center;

    .topic{
        margin: 1.2rem;
        margin-left: 0;

        background-color: rgba(0, 0, 0, 0.05);
        
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 1.6rem;

        color: #030303;
        font-size: 1.4rem;
        font-family: 'Roboto', sans-serif;
        
        padding: 0 1.2rem;

        cursor: pointer;

        height: 3.2rem;
        min-width: 1.2rem;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        letter-spacing: 0.2px;

        line-height: 2rem;

        transition: background-color 0.5s cubic-bezier(0.05, 0, 0, 1);

        @include content-center;

        &:hover{
            background-color: rgba(0, 0, 0, 0.1);
        }
    }

    .active{
        background-color: black;
        color: white;

        &:hover{
            background-color: black;
            color: white;
        }
    }

    div:last-of-type{
        cursor: pointer;

        svg{
            @include svg($width: 1.6rem, $height: 1.6rem);

            margin-left: 3rem;
        }
    }
}

// Responsiveness 

@media screen and (max-width: 1212px){
    .topics{
        left: 7.2rem;
    }
}