@mixin flex-row{
    display: flex;
}
@mixin flex-col{
    display: flex;
    flex-direction: column;
}
@mixin content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin content-horizontal-center {
    display: flex;
    justify-content: center;
}
@mixin  content-vertical-center {
    display: flex;
    align-items: center;
}
@mixin btn{
    @include content-center;

    line-height: 1.2rem;

    font-size: 1.5rem;
    font-weight: 400;
    font-family: Lato;

    border: none;
    border-radius: 0.3rem;

    cursor: pointer;

    padding: 1rem 1.6rem;
}
@mixin btn-primary{
    @include btn;

    background-color: hsla(139, 59%, 55%, 1);

    color: black;

    &:hover{
        background-color: hsla(140, 59%, 35%, 1);

        color: white;
    }
}
@mixin btn-secondary{
    @include btn;

    background-color: hsla(227, 12%, 30%, 1);

    color: white;

    &:hover{
        background-color: hsla(228, 12%, 40%, 1);
    }
}

.brown { color: #a88038; }
.yellow { color: #e1ca72; }
.white { color: hsla(0, 0%, 100%, 1); }
.green { color: #74b087; }
.purple { color: #9f8198; }
.orange { color: #de7300; }
.blue { color: #7a99ad; }

@mixin enter-exit-animation{
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}